* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    background-color: #7eb0d5;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
    width: 60%;
}

form {
    width: 60%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

label {
    color: #333;
    font-weight: bold;
    margin-right: 5px;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #333;
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #7eb0d5;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    width: auto;
}

table {
    width: 60%;
    overflow-y: auto;
    font-size: 12px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #7eb0d5;
    color: #333;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
